/* .shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  border-right: 1px solid lightgray;
  margin-right: 5px;
  margin-left: 40px;
} */
.Shop-container {
  display: flex;
}
.Product-container {
  width: 70%;
  margin-left: 20px;
  margin-right: 5px;
  border-right: 1px solid lightgrey;
}
